/* shared styles */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}


/* Nav bar styles */
.nav{
   height: 80px;
   display: flex;
   padding-right: 50px;
   padding-left: 50px;
   padding-bottom: 40px;
   justify-content: space-between;
   
}
.logo-content{
    display: flex;
    align-items: center;
    padding-left: 2px;
    gap: 4px;
}
.G{
    color: #FF42A5 ;
}
.logo img{
    width: 40px;
}
.nav-menu > ul{
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center ;
    padding-right: 30px;
    
    padding-top: 30px;
   align-content: center;
}
.nav-menu li{
    list-style: none;
    padding-left: 20px;
}
#Follow{
    
text-align: center;
padding: 10px;
border-radius: 5px;
background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
}
/* Banner styles */
.banner-content img{
    height: ;

}
    

.Banner{
    padding-top: 10px;
    padding-right: 50px;
   padding-left: 50px;
   display: flex;
   justify-content: space-between;
   
   background-color: rgba(140, 87, 238, 0.03);
}
.banner-content{
    
}
.banner-img{
 
}