/* shared styles */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
  * {
    font-family: "Work Sans", sans-serif;
  }
  .root {
    --color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  }




/* Nav bar styles */
.nav{
   height: 80px;
   display: flex;
   padding-right: 100px;
   padding-left: 150px;
   padding-bottom: 40px;
   justify-content: space-between;
   
}
.logo-content{
    display: flex;
    align-items: center;
    padding-left: 2px;
    gap: 4px;
}
.G{
    color: #FF42A5 ;
}
.logo img{
    width: 40px;
}
.nav-menu > ul{
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center ;
    padding-right: 30px;
    padding-top: 30px;
   align-content: center;
}
.nav-menu li{
    list-style: none;
    padding-left: 20px;
}
#Follow{
    
text-align: center;
padding: 10px;
border-radius: 5px;
background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
}

/* Banner styles */
.Banner{
   display: flex;
   justify-content: space-between;
   background-color: white;
   
}
.title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 35px;
    
}
.banner-content{
  background-image: url(img/Group\ 14.png);
  height: 500px ;
  width: 540px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 150px;
}
.banner-img > img{
    height: 595px ;
    width: 440px;
    padding-right: 100px;
}
.pink-btn{
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    margin-top: 20px;
}
.blue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
/* know more section style */
.know-more{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-left: 100px;
    
    background-color: rgba(255, 66, 165, 0.03);
}
.know-more-content{
    text-align: right;
    padding-right: 100px;
}
.know-more-img > img{
    height: 350px;
    width: 540px;
}

/* online games section styles */
.online-games{
    height: 550px;
}

.online-games-title{
    padding: 1% 30% 2% 30%;
    text-align: center;
    
}
.online-games-title > h1{
    font-size: 35px;
    
}
.online-games-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 100px 40px 100px;
    
  
    
}
.online-games-card > .card{
    border-radius: 18px;
    width: 255px;
    height: 265px;
    position: relative;
    display: inline-block; 
    cursor: pointer;
    
  
}
.card > img{
    width: 250px;
    height: 260px;
    overflow: hidden;
    
}
    
    
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 260px;
    opacity: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .play-button {
    font-size: 48px;
  }
  
  .watch-now {
    margin-top: 10px;
    font-size: 16px;
  }
  .card:hover .overlay {
    opacity: 1;
  }
  


/* play instant section styles */
.play-instant{
    height: 550px;
    padding-left: 80px;
    padding-right: 100px;
}
.play-instant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 100px;
    padding-top: 0px;
    gap: 190px;
}

.play-instant h1{
   text-align: right;
   padding-left: 60px;
}

.play-instant span{
    color: #F948B2;
}
.play-instant p{
    text-align: right;
    padding-top: 0px;
    padding-bottom: 340px;
    padding-left: 60px;
 }
.play-instant-img > img{
    height: 450px;
    width: 400px;
}
.imgtwo{
    width: 318.5px;
height: 365.083px;

}
.imgtwo > img{
    height: 300px;
margin: 0px;
position: relative;
bottom: 230px;
right: 40px;
    
}

/* sponsor section */
.Sponsor-container{
        display: flex;
        height: 40;
        gap: 28px;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: space-around;
        background-color: #c7137f1a;  
}
.div {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color: #ffff;
    border-radius: 50px;
    cursor: pointer;
  }
  .div > img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  .div > p {
    color: #0b0223;
    font-size: 15px;
    font-weight: 700;
  }
  .div:hover {
    border: 1px solid rgb(255, 108, 133);
    color:  rgb(255, 108, 133);
    padding: 10px 20px;
    border-radius: 50px;
  }
  .div > p:hover {
    color: rgb(255, 108, 133);
  }


/* Footer section styles */
.footer-content{
  margin: auto;
  background-color: #0b0223;
  padding: 100px 250px;
  margin: auto;
  text-align: center;
}
.footer-logo-container{
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
  color: #fff;
}
.F{
    color: #FF42A5 ;
}
.footer-logo img{
    width: 40px;
    
}
.footer-list {
    color: #ffff;
    display: flex;
    justify-content: space-around;
    padding-top: 61px;
    padding-bottom: 20px;
    list-style: none;
  }
  .footer-icon a > i {
    font-weight: 400;
    gap: 30px;
    margin-left: 34px;
    font-size: 23px;
    color: #fff;
  }
  .footer-text {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 45px 0px;
    gap: 30px;
  }
  .footer-bd {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }



